.login-page-body {
  background-color: #f7f7f7;
  padding: 0 0 150px 0;
  position: relative;
  min-height: 100vh;
}
.login-page-body footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.login-header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
}
.login-header .logo-link {
    text-decoration: none;
}
.login-header .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #38761d; 
}
.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  margin: 80px auto 0 auto;
}

.logo-auth {
  font-size: 1.8rem;
  font-weight: 700;
  color: #38761d;
  text-align: center;
  margin-bottom: 10px;
}
.auth-form h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px; 
  color: #333;
}
.auth-form .form-group {
  margin-bottom: 15px;
}
.auth-form .form-group label {
  display: block;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}
.auth-form .form-group input { 
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: inherit;
}
.auth-form .form-group input:focus {
  outline: none;
  border-color: #38761d;
  box-shadow: 0 0 5px rgba(56, 118, 29, 0.3);
}

.cta-button {
    background-color: #38761d; 
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}
.cta-button:hover {
    background-color: #2b5f16;
}
.auth-button {
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  font-size: 1.1rem;
  margin-top: 5px; 
  text-decoration: none;
}

.auth-toggle {
  text-align: center;
  margin-top: 10px; 
  font-size: 0.9rem;
}
.auth-toggle a {
  color: #38761d;
  font-weight: 600;
  text-decoration: none;
}
.auth-instruction {
  font-size: 0.95rem;
  color: #555;
  text-align: center;
  margin-bottom: 20px; 
  line-height: 1.6;
}

#forgot-form .auth-button {
  margin-top: 20px; 
}